<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Main Menu</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div th:switch="${apps}" class="container my-5">
		<div class="row">
			<div class="col-md-6">
				<h2 th:case="null">Menu Principal</h2>

				<p>
					<a href="/person/"><i class="fas fa-user-edit ml-2"></i> Ir a Personas</a>
				</p>
				<p>
					<a href="/docs/"> <i class="fas fa-id-card"></i></i>    Ir a Documentos</a>
				</p>
				<p>
					<a href="/docinst/"><i class="fas fa-folder-open"></i> Ir a Instancias de Documento</a>
				</p>
				<p>
					<a href="/docType/"><i class="fas fa-paste"></i> Ir a Tipos de Documentos</a>
				</p>
				<div class="col-md-6">
					<div class="col-md-4 mt-3">
						<form th:action="@{/logout}" method="post">
							<input type="submit" class="btn btn-primary" value="Log out">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>